Создал файл без точки в начале имени, потому что посмотрел список просматриваемых файлов при загрузке mysql,
и там был указан файл именно с таким именем. С точкой наверное тоже сработало бы.
Ввел туда такие данне с настоящими именем и паролем:

[client]
user="блаблабла"
password="какойто_пароль"
